div.home_header {
        padding: 20px 8% 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.menu_button_and_logo {
                display: flex;
                align-items: center;
        }
}