div.home_header {
        padding: 0 8%;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #cacaca38;

        div.menu_button_and_logo {
                display: flex;
                align-items: center;

                h3 {
                        margin-left: 20px;
                        font-size: 1.4rem;
                        color: #818181;
                }
        }
}