div.home_header {
  padding: 0 8%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #cacaca38;
}

div.home_header div.menu_button_and_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.home_header div.menu_button_and_logo h3 {
  margin-left: 20px;
  font-size: 1.4rem;
  color: #818181;
}
