a.note {
        display: block;
        margin: 0 auto 25px auto;
        width: 85%;
        &:nth-of-type(odd) {
                transform: rotate(-2deg);
        }
        &:nth-of-type(even) {
                transform: rotate(2deg);
        }
        li.note {
                height: 250px;
                // text-align: center;
                font-family: 'Nanum Pen Script', cursive;
                display: flex;
                flex-direction: column;
                -webkit-box-shadow: 0px 4px 13px -3px #000000a3;
                -moz-box-shadow: 0px 4px 13px -3px #000000a3;
                box-shadow: 0px 4px 13px -3px #000000a3;
                overflow-y: scroll;
                cursor: pointer;
        
                div.title {
                        align-self: flex-start;
                        padding: 10px 0 0 10px;
                        height: 10vh;
                        font-size: 2rem;

                        span {
                                text-decoration: underline;
                        }
                }
        
                div.content {
                        align-self: center;
                        padding: 15px 10px;
                        height: 90vh;
                        font-size: 1.7rem;
                }
                div.created {
                        align-self: flex-start;
                        padding: 0 0 10px 10px;
                        font-size: 1.2rem;
                }
        }
}