li.note {
  height: 150px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 4px 13px -3px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 4px 13px -3px rgba(0, 0, 0, 0.64);
  overflow-y: scroll;
  cursor: pointer;
}

li.note:nth-of-type(1), li.note:nth-of-type(4), li.note:nth-of-type(7) {
  background-color: #ff5872;
}

li.note:nth-of-type(5), li.note:nth-of-type(11), li.note:nth-of-type(8) {
  background-color: #7bff00;
}

li.note:nth-of-type(2), li.note:nth-of-type(3), li.note:nth-of-type(9) {
  background-color: #00c8ff;
}

li.note:nth-of-type(10), li.note:nth-of-type(6), li.note:nth-of-type(12) {
  background-color: #ffe200;
}

li.note:nth-of-type(odd) {
  position: relative;
  left: 5px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

li.note:nth-of-type(even) {
  position: relative;
  right: 5px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
  margin-top: 25px;
}

li.note div.title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 10px 0 0 10px;
  height: 10vh;
}

li.note div.content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 10px 10px;
  height: 90vh;
}

li.note div.created {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 0 0 10px 10px;
  font-size: .9rem;
}
