li.note {
        height: 150px;
        text-align: center;
        font-family: 'Nanum Pen Script', cursive;
        display: flex;
        flex-direction: column;
        -webkit-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.64);
        -moz-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.64);
        box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.64);
        overflow-y: scroll;
        cursor: pointer;

        &:nth-of-type(1),
        &:nth-of-type(4),
        &:nth-of-type(7) {
                background-color: #ff5872;
        }
        &:nth-of-type(5),
        &:nth-of-type(11),
        &:nth-of-type(8) {
                background-color: #7bff00;
        }
        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(9) {
                background-color: #00c8ff;
        }
        &:nth-of-type(10),
        &:nth-of-type(6),
        &:nth-of-type(12) {
                background-color: #ffe200;
        }

        &:nth-of-type(odd) {
                position: relative;
                left: 5px;
                transform: rotate(-5deg);
        }
        &:nth-of-type(even) {
                position: relative;
                right: 5px;
                transform: rotate(5deg);
                margin-top: 25px;
        }

        div.title {
                align-self: flex-start;
                padding: 10px 0 0 10px;
                height: 10vh;
        }

        div.content {
                align-self: center;
                padding: 10px 10px;
                height: 90vh;
        }
        div.created {
                align-self: flex-start;
                padding: 0 0 10px 10px;
                font-size: .9rem;
        }
}