div.search_form {
  padding: 20px 7% 0;
}

div.search_form form {
  border-bottom: 3px solid #aaaaaa;
  border-radius: 0 0 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 40px;
  position: relative;
  z-index: 100;
}

div.search_form form div.search {
  width: 90%;
}

div.search_form form div.search input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding-left: 10px;
  background-color: transparent;
}

div.search_form form div.search input::-webkit-input-placeholder {
  color: #818181;
}

div.search_form form div.search input:-ms-input-placeholder {
  color: #818181;
}

div.search_form form div.search input::-ms-input-placeholder {
  color: #818181;
}

div.search_form form div.search input::placeholder {
  color: #818181;
}

div.search_form form div.submit_button {
  width: 10%;
  height: 100%;
}

div.search_form form div.submit_button button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

div.search_form form div.submit_button button i {
  font-size: 1.3rem;
  color: #818181;
  text-shadow: 1px 2px 0px #a2a2a2b8;
}
