div.search_form {
        padding: 20px 7% 0;
        // position: sticky;
        // top: 0;
        // z-index: 100;
        form {
                border-bottom: 3px solid #aaaaaa;
                border-radius: 0 0 5px 5px;
                display: flex;
                flex-direction: row-reverse;
                height: 40px;
                position: relative;
                z-index: 100;
                div.search {
                        width: 90%;

                        input {
                                width: 100%;
                                height: 100%;
                                border: none;
                                outline: none;
                                font-size: 1.2rem;
                                padding-left: 10px;
                                background-color: transparent;

                                &::placeholder {
                                        color: #818181;
                                }
                        }
                }
                div.submit_button {
                        width: 10%;
                        height: 100%;
                        
                        button {
                                width: 100%;
                                height: 100%;
                                background-color: transparent;
                                border: none;
                                outline: none;

                                i {
                                        font-size: 1.3rem;
                                        color: #818181;
                                        text-shadow: 1px 2px 0px #a2a2a2b8;
                                }
                        }
                }
        }
}