div.menu_button {
        cursor: pointer;

        div.bar {
                height: 4px;
                width: 30px;
                background-color: #444444;
                border-radius: 20px;
                -webkit-box-shadow: -2px 5px 8px -4px rgba(0,0,0,0.82);
                -moz-box-shadow: -2px 5px 8px -4px rgba(0,0,0,0.82);
                box-shadow: -2px 5px 8px -4px rgba(0,0,0,0.82);

                &:not(:last-child) {
                        margin-bottom: 6px;
                }
        }

        div.bar1, 
        div.bar3 {
                width: 20px;
        }
}