div.menu_button {
  cursor: pointer;
}

div.menu_button div.bar {
  height: 2px;
  width: 25px;
  background-color: #444444;
  border-radius: 20px;
  -webkit-box-shadow: -2px 5px 8px -4px rgba(0, 0, 0, 0.82);
  box-shadow: -2px 5px 8px -4px rgba(0, 0, 0, 0.82);
}

div.menu_button div.bar:not(:last-child) {
  margin-bottom: 6px;
}

div.menu_button div.bar1,
div.menu_button div.bar3 {
  width: 15px;
}
