div.menu_body {
        ul {
                padding: 0 8%;
                li {
                        margin-top: 25px;
                        a {
                                display: flex;
                                align-items: center;

                                div.menu_icon {
                                        color: #818181;
                                        text-shadow: 1px 1px 1px #00000099;
                                        font-size: 1.3rem;
                                }
                                div.menu_label {
                                        margin-left: 10px;
                                        color: #9b9b9b;
                                }
                        }
                }
        }
}