ul.notes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  padding: 20px 6%;
  gap: 15px;
  overflow-y: scroll;
}
