div.menu_header {
        padding: 0 8%;
        border-bottom: 1px solid #cacaca38;
        height: 10vh;

        div.close_and_logo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;

                div.header_logo {
                        margin: 0;

                        div.logo_wrapper {
                                width: 45px;
                        }
                }

                div.close {
                        cursor: pointer;
                }
        }
}