div.menu_header {
  padding: 0 8%;
  border-bottom: 1px solid #cacaca38;
  height: 10vh;
}

div.menu_header div.close_and_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

div.menu_header div.close_and_logo div.header_logo {
  margin: 0;
}

div.menu_header div.close_and_logo div.header_logo div.logo_wrapper {
  width: 45px;
}

div.menu_header div.close_and_logo div.close {
  cursor: pointer;
}
