div.logo_title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

div.logo_title div.logo_title_wrapper {
  width: 150px;
}

div.logo_title div.logo_title_wrapper img {
  width: 100%;
  -webkit-filter: drop-shadow(0px 3px 6px #c2c2c2);
          filter: drop-shadow(0px 3px 6px #c2c2c2);
}
