div.login_page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

div.login_page div.logo_title {
  margin-top: 150px;
}

div.login_page div.login_form {
  margin-top: 45px;
}

div.login_page div.login_form div.email,
div.login_page div.login_form div.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 75%;
  margin: 0 auto;
  border-bottom: 1px solid #333333;
}

div.login_page div.login_form div.email div.email_field,
div.login_page div.login_form div.email div.password_field,
div.login_page div.login_form div.password div.email_field,
div.login_page div.login_form div.password div.password_field {
  width: 90%;
}

div.login_page div.login_form div.email div.email_field input,
div.login_page div.login_form div.email div.password_field input,
div.login_page div.login_form div.password div.email_field input,
div.login_page div.login_form div.password div.password_field input {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 1.5rem;
  font-family: 'Nanum Pen Script', cursive;
  background-color: transparent;
  color: #000;
  padding-left: 10px;
}

div.login_page div.login_form div.email div.icon,
div.login_page div.login_form div.password div.icon {
  width: 10%;
}

div.login_page div.login_form div.password {
  margin-top: 35px;
}

div.login_page div.login_form div.submit_button {
  width: 75%;
  height: 40px;
  margin: 30px auto 0 auto;
}

div.login_page div.login_form div.submit_button button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 0 15px 0 15px;
  background-color: #ff5872;
  border: 0;
  font-size: 1.5rem;
  font-family: 'Nanum Pen Script', cursive;
  color: #fff;
  text-shadow: 0 2px 10px #00000099;
  -webkit-box-shadow: 0px 2px 10px 1px #dbdbdb;
  box-shadow: 0px 2px 10px 1px #dbdbdb;
}

div.login_page div.or_signup {
  width: 75%;
  margin: 20px auto 0 auto;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.3rem;
}

div.login_page div.or_signup a {
  color: #00c8ff;
  text-decoration: underline;
}

div.login_page div.menu_footer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  width: 75%;
  text-align: center;
  padding: 20px 0;
}
