div.login_page {
        height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 10px;

        div.logo_title {
                margin-top: 150px;
        }

        div.login_form {
                margin-top: 45px;
                div.email,
                div.password {
                        display: flex;
                        justify-content: center;
                        width: 75%;
                        margin: 0 auto;
                        border-bottom: 1px solid #333333;

                        div.email_field,
                        div.password_field {
                                width: 90%;
                                input {
                                        width: 100%;
                                        border: 0;
                                        outline: none;
                                        font-size: 1.5rem;
                                        font-family: 'Nanum Pen Script', cursive;
                                        background-color: transparent;
                                        color: #000;
                                        padding-left: 10px;
                                }
                        }

                        div.icon {
                                width: 10%;
                        }
                }

                div.password {
                        margin-top: 35px;
                }

                div.submit_button {
                        width: 75%;
                        height: 40px;
                        margin: 30px auto 0 auto;

                        button {
                                cursor: pointer;
                                width: 100%;
                                height: 100%;
                                outline: none;
                                border-radius: 0 15px 0 15px;
                                background-color: #ff5872;
                                // border: 1px solid rgb(51, 51, 51);
                                border: 0;
                                font-size: 1.5rem;
                                font-family: 'Nanum Pen Script', cursive;
                                color: #fff;
                                text-shadow: 0 2px 10px #00000099;
                                -webkit-box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
                                -moz-box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
                                box-shadow: 0px 2px 10px 1px rgba(219,219,219,1);
                        }
                }
        }

        div.or_signup {
                width: 75%;
                margin: 20px auto 0 auto;
                text-align: center;
                font-family: 'Nanum Pen Script', cursive;
                font-size: 1.3rem;

                a {
                        color: #00c8ff;
                        text-decoration: underline;
                }
        }

        div.menu_footer {
                align-self: center;
                position: absolute;
                width: 75%;
                text-align: center;
                padding: 20px 0;
        }
}