div.note_data {
        i {
                color: #7bff00;
                font-size: 2rem;
                display: inline-block;
                transform: rotate(5deg);
                text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
        }
}