div.create_form {
  width: 100%;
}

div.create_form form {
  width: 80%;
  margin: 45px auto 0 auto;
}

div.create_form form div.upper_form {
  width: 100%;
  padding: 15px;
  -webkit-box-shadow: inset 0px 0px 23px -13px rgba(0, 0, 0, 0.45);
  box-shadow: inset 0px 0px 23px -13px rgba(0, 0, 0, 0.45);
  background-color: #ff5872;
}

div.create_form form div.upper_form div.title_input,
div.create_form form div.upper_form div.note_content {
  margin: 0 auto;
}

div.create_form form div.upper_form div.title_input {
  padding-left: 5px;
}

div.create_form form div.upper_form div.title_input input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  padding-bottom: 3px;
  outline: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #000;
  font-family: 'Nanum Pen Script', cursive;
}

div.create_form form div.upper_form div.title_input input::-webkit-input-placeholder {
  color: #000;
}

div.create_form form div.upper_form div.title_input input:-ms-input-placeholder {
  color: #000;
}

div.create_form form div.upper_form div.title_input input::-ms-input-placeholder {
  color: #000;
}

div.create_form form div.upper_form div.title_input input::placeholder {
  color: #000;
}

div.create_form form div.upper_form div.note_content {
  height: 225px;
}

div.create_form form div.upper_form div.note_content textarea {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 15px 5px 5px 5px;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  font-family: 'Nanum Pen Script', cursive;
}

div.create_form form div.upper_form div.color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

div.create_form form div.upper_form div.color input {
  background-color: transparent;
  border: none;
  width: 25px;
  outline: none;
  cursor: pointer;
}

div.create_form form div.lower_form {
  padding: 25px 0 0 0;
}

div.create_form form div.lower_form div.label {
  margin-bottom: 15px;
}

div.create_form form div.lower_form div.create_collection {
  margin-top: 5px;
}

div.create_form form div.lower_form div.create_collection button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
}

div.create_form form div.submit_button {
  display: inline-block;
  position: absolute;
  right: 7%;
  bottom: 100px;
  z-index: 100;
}

div.create_form form div.submit_button button {
  background-color: transparent;
  outline: none;
  border: none;
}

div.create_form form div.submit_button button i {
  font-size: 3rem;
  cursor: pointer;
  color: #ff5872;
  text-shadow: 1px 2px 3px #00000099;
}
