div.create_form {
        width: 100%;

        form {
                width: 80%;
                margin: 45px auto 0 auto;
                // -webkit-box-shadow: 0px 14px 27px -13px rgba(0,0,0,0.45);
                // -moz-box-shadow: 0px 14px 27px -13px rgba(0,0,0,0.45);
                // box-shadow: 0px 14px 27px -13px rgba(0,0,0,0.45);
                div.upper_form {
                        width: 100%;
                        padding: 15px;
                        -webkit-box-shadow: inset 0px 0px 23px -13px rgba(0,0,0,0.45);
                        -moz-box-shadow: inset 0px 0px 23px -13px rgba(0,0,0,0.45);
                        box-shadow: inset 0px 0px 23px -13px rgba(0,0,0,0.45);
                        background-color: #ff5872;

                        div.title_input,
                        div.note_content {
                                margin: 0 auto;
                        }
        
                        div.title_input {
                                padding-left: 5px;
                                input {
                                        border-top: 0;
                                        border-right: 0;
                                        border-left: 0;
                                        // border-bottom: 1px solid #33333331;
                                        border-bottom: 0;
                                        padding-bottom: 3px;
                                        outline: none;
                                        font-size: 1.5rem;
                                        background-color: transparent;
                                        color: #000;
                                        font-family: 'Nanum Pen Script', cursive;
        
                                        &::placeholder {
                                                color: #000;
                                        }
                                }
                        }
        
                        div.note_content {
                                height: 225px;
                                textarea {
                                        border: none;
                                        resize: none;
                                        width: 100%;
                                        height: 100%;
                                        padding: 15px 5px 5px 5px;
                                        outline: none;
                                        background-color: transparent;
                                        font-size: 1.5rem;
                                        font-family: 'Nanum Pen Script', cursive;
                                }
                        }
                        div.color {
                                display: flex;
                                flex-direction: column;
                                align-items: flex-end;

                                input {
                                        background-color: transparent;
                                        border: none;
                                        width: 25px;
                                        outline: none;
                                        cursor: pointer;
                                }
                        }
                }
                div.lower_form {
                        padding: 25px 0 0 0;
                        div.label {
                                margin-bottom: 15px;
                        }

                        div.create_collection {
                                margin-top: 5px;
                                button {
                                        background-color: transparent;
                                        border: none;
                                        outline: none;
                                        cursor: pointer;
                                        font-size: 1rem;
                                }
                        }
                }
                div.submit_button {
                        display: inline-block;
                        position: absolute;
                        // bottom: 75px;
                        // right: 30px;
                        right: 7%;
                        bottom: 100px;
                        z-index: 100;

                        button {
                                background-color: transparent;
                                outline: none;
                                border: none;
                                i {
                                        font-size: 3rem;
                                        cursor: pointer;
                                        color: #ff5872;
                                        text-shadow: 1px 2px 3px #00000099;
                                }
                        }
                }
        }
}