div.new_note_button_wrapper {
  display: inline-block;
  position: absolute;
  right: 7%;
  bottom: 115px;
}

div.new_note_button_wrapper div.button {
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  background-color: transparent;
}

div.new_note_button_wrapper div.button span {
  display: inline-block;
  font-size: 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-shadow: 1px 1px 15px #000000cc;
}
