div.new_note_button_wrapper {
        display: inline-block;
        position: absolute;
        right: 7%;
        bottom: 115px;

        div.button {
                cursor: pointer;
                padding: 10px;
                border-radius: 50px;
                // background-color: #d4d4d47e;
                background-color: transparent;

                span {
                        display: inline-block;
                        font-size: 2rem;
                        transform: rotate(90deg);
                        text-shadow: 1px 1px 15px #000000cc;
                }

                // i {
                //         color: #ffbd07;
                //         font-size: 2rem;
                        // text-shadow: 1px 1px 2px #00000099;
                // }
        }
}