div.new_note_button_wrapper {
        display: inline-block;
        position: absolute;
        right: 7%;
        bottom: 115px;

        div.button {
                cursor: pointer;
                padding: 15px;
                border-radius: 50px;
                background: none;
                // border: 1px solid #adadad48;
                // -webkit-box-shadow: 13px 9px 44px -15px rgba(0,0,0,0.44);
                // -moz-box-shadow: 13px 9px 44px -15px rgba(0,0,0,0.44);
                // box-shadow: 13px 9px 44px -15px rgba(0,0,0,0.44);

                i {
                        color: #ffd151;
                        font-size: 2rem;
                        text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
                }
        }
}