div.new_note_button_wrapper {
  display: inline-block;
  position: absolute;
  right: 7%;
  bottom: 115px;
}

div.new_note_button_wrapper div.button {
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  background: none;
}

div.new_note_button_wrapper div.button i {
  color: #ffd151;
  font-size: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
