nav.navbar {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 8%;
        height: 10vh;

        ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 100%;

                li {
                        padding: 10px 12px;
                        display: flex;
                        border-radius: 15px;

                        a {
                                display: inline-block;
                                color: #fff;
                        }
 
                        &.navitem {
                                a {
                                        i {
                                                display: inline-block;
                                                font-size: 1.7rem;
                                                text-shadow: 1px 2px 0px #a2a2a2b8;
                                        }
                                }
                        }

                        &.item1 {
                                a {
                                        i {
                                                color: #ff5872;
                                        }
                                }
                        }
                        &.item2 {
                                a {
                                        i {
                                                color: #00c8ff;
                                        }
                                }
                        }
                        &.item3 {
                                a {
                                        i {
                                                color: #ffe200;
                                        }
                                }
                        }
                        &.item4 {
                                a {
                                        i {
                                                color: #a5a5a5;
                                        }
                                }
                        }
                }
        }
}