nav.navbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 8%;
}

nav.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav.navbar ul li {
  border: 1px solid #dadada38;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 15px;
}

nav.navbar ul li a {
  display: inline-block;
  color: #fff;
}

nav.navbar ul li.navitem a i {
  display: inline-block;
  font-size: 1.7rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

nav.navbar ul li.item1 {
  background-color: #ffa0ef;
}

nav.navbar ul li.item2 {
  background-color: #00c8ff;
}

nav.navbar ul li.item3 {
  background-color: #ffe200;
}

nav.navbar ul li.item4 {
  background-color: #7bff00;
}
