nav.navbar {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px 8%;

        ul {
                display: flex;
                justify-content: space-between;

                li {
                        border: 1px solid #dadada38;
                        padding: 10px 12px;
                        display: flex;
                        border-radius: 15px;
                        // -webkit-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.64);
                        // -moz-box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.64);
                        // box-shadow: 0px 4px 13px -3px rgba(0,0,0,0.64);

                        a {
                                display: inline-block;
                                color: #fff;
                        }

                        &.navitem {
                                a {
                                        i {
                                                display: inline-block;
                                                font-size: 1.7rem;
                                                text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
                                        }
                                }
                        }

                        &.item1 {
                                background-color: #ffa0ef;
                        }
                        &.item2 {
                                background-color: #00c8ff;
                        }
                        &.item3 {
                                background-color: #ffe200;
                        }
                        &.item4 {
                                background-color: #7bff00;
                        }
                }
        }
}