@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


::-webkit-scrollbar {
        display: none;
}

html,
body {
        font-family: 'Roboto Condensed', sans-serif;
        -webkit-box-shadow: inset 0px 0px 9px -1px #9b9b9b70;
        -moz-box-shadow: inset 0px 0px 9px -1px #9b9b9b70;
        box-shadow: inset 0px 0px 9px -1px #9b9b9b70;
}

li {
        list-style-type: none;
}

a {
        text-decoration: none;
        color: #333;
}

input,
textarea {
        font-family: 'Roboto Condensed', sans-serif;
}