@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


::-webkit-scrollbar {
        display: none;
}

html,
body {
        font-family: 'Roboto Condensed', sans-serif;
}

li {
        list-style-type: none;
}

a {
        text-decoration: none;
}

input,
textarea {
        font-family: 'Roboto Condensed', sans-serif;
}