div.menu_drawer {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 100;
        display: flex;
        div.menu {
                width: 65%;
                height: 100%;
                background-color: #ffffff;
                -webkit-box-shadow: inset 0px 0px 23px -9px rgba(0,0,0,0.45);
                -moz-box-shadow: inset 0px 0px 23px -9px rgba(0,0,0,0.45);
                box-shadow: inset 0px 0px 23px -9px rgba(0,0,0,0.45);
        }
        div.right_overlay {
                width: 35%;
                height: 100%;
                background-color: #919191c7;
                position: relative;
                z-index: -1;
        }
}