div.signup_page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

div.signup_page div.logo_title {
  margin-top: 100px;
}

div.signup_page div.signup_form {
  margin-top: 45px;
}

div.signup_page div.signup_form div.name,
div.signup_page div.signup_form div.email,
div.signup_page div.signup_form div.confirm,
div.signup_page div.signup_form div.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
  border-bottom: 1px solid #333333;
}

div.signup_page div.signup_form div.name div.name_field,
div.signup_page div.signup_form div.name div.email_field,
div.signup_page div.signup_form div.name div.password_field,
div.signup_page div.signup_form div.name div.confirm_password_field,
div.signup_page div.signup_form div.email div.name_field,
div.signup_page div.signup_form div.email div.email_field,
div.signup_page div.signup_form div.email div.password_field,
div.signup_page div.signup_form div.email div.confirm_password_field,
div.signup_page div.signup_form div.confirm div.name_field,
div.signup_page div.signup_form div.confirm div.email_field,
div.signup_page div.signup_form div.confirm div.password_field,
div.signup_page div.signup_form div.confirm div.confirm_password_field,
div.signup_page div.signup_form div.password div.name_field,
div.signup_page div.signup_form div.password div.email_field,
div.signup_page div.signup_form div.password div.password_field,
div.signup_page div.signup_form div.password div.confirm_password_field {
  border: 0;
  width: 90%;
}

div.signup_page div.signup_form div.name div.name_field input,
div.signup_page div.signup_form div.name div.email_field input,
div.signup_page div.signup_form div.name div.password_field input,
div.signup_page div.signup_form div.name div.confirm_password_field input,
div.signup_page div.signup_form div.email div.name_field input,
div.signup_page div.signup_form div.email div.email_field input,
div.signup_page div.signup_form div.email div.password_field input,
div.signup_page div.signup_form div.email div.confirm_password_field input,
div.signup_page div.signup_form div.confirm div.name_field input,
div.signup_page div.signup_form div.confirm div.email_field input,
div.signup_page div.signup_form div.confirm div.password_field input,
div.signup_page div.signup_form div.confirm div.confirm_password_field input,
div.signup_page div.signup_form div.password div.name_field input,
div.signup_page div.signup_form div.password div.email_field input,
div.signup_page div.signup_form div.password div.password_field input,
div.signup_page div.signup_form div.password div.confirm_password_field input {
  border: 0;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  background-color: transparent;
  color: #000;
  padding-left: 10px;
  font-family: 'Nanum Pen Script', cursive;
}

div.signup_page div.signup_form div.name div.icon,
div.signup_page div.signup_form div.email div.icon,
div.signup_page div.signup_form div.confirm div.icon,
div.signup_page div.signup_form div.password div.icon {
  width: 10%;
}

div.signup_page div.signup_form div.email,
div.signup_page div.signup_form div.confirm,
div.signup_page div.signup_form div.password {
  margin-top: 35px;
}

div.signup_page div.signup_form div.submit_button {
  width: 75%;
  height: 40px;
  margin: 30px auto 0 auto;
}

div.signup_page div.signup_form div.submit_button button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 0 15px 0 15px;
  background-color: #ff5872;
  border: 0;
  font-size: 1.5rem;
  font-family: 'Nanum Pen Script', cursive;
  color: #fff;
  text-shadow: 0 2px 10px #00000099;
  -webkit-box-shadow: 0px 2px 10px 1px #dbdbdb;
  box-shadow: 0px 2px 10px 1px #dbdbdb;
}

div.signup_page div.or_login {
  width: 75%;
  margin: 20px auto 0 auto;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.3rem;
}

div.signup_page div.or_login a {
  color: #00c8ff;
  text-decoration: underline;
}

div.signup_page div.menu_footer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  width: 75%;
  text-align: center;
  padding: 20px 0;
}
